/* 
    Author: Ahnaf Samin;
    Theme: Aust Canteen Theme;
    Version: 1.1.5;
*/

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    /* font-family: Trebuchet MS, Helvetica, sans-serif; */
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Poppins", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.container{
    width: 80%;
    margin: 0 auto;
    
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}



.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

 a{
    color: #00a745;
    text-decoration: none;
}
a:hover{
    
    
}
/*
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
} */
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    /* left: 40%; */
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #686868; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(69, 163, 90); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 121, 63); 
  }



/* CSSS for navbar section */

.logo{
    width: max-content;/*10%;*/
    float: left;
}
.menu{
    line-height: 60px;
    color: white;
}
.menu ul{
    list-style-type: none;
    
}

.menu ul li{
    display: inline;
    
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */
.loader{
    position: fixed;
    top:0; left:0; right:0; bottom: 0;
    background-color: white;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .loader img{
    width: 25rem;
 }
.food-search{
    
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.food-search-bg{
    background-image: url(../images/bg.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
    
}

.food-search-bg input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.swiper-pagination-bullet-active{
    background-color: var(--yellow);
 }

/* CSS for Categories */
.categories{
    padding: 4% 0;
    
}
.logo-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #000000;
    padding: 4% 0;
}
.food-menu-box{
    width: 500px;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    color: black;
    margin-left: 8%;
}

.food-price{
    color: #00a745;
    font-size: 1.3rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1.1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

.center{
    margin: auto;
  width: 50%;
  height: 00px;
  padding: 10px;
  padding: auto;
  border-radius: 3em;
}
/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    /* border-radius: 5px; */
    font-size: 1rem;
}
.order-label{
    color: white;
    margin-bottom: 1%; 
    font-weight: bold;
}







/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
